.transactionHistory {
  margin: 25px auto;
  border-radius: 5%;
  background-color: white;
}

thead {
  background-color: deepskyblue;
  padding-top: 25px;
  color: white;
  text-transform: uppercase;
}

th {
  padding: 18px 80px;
}
tr:nth-child(even) {
  background-color:lightblue;
}

td {
  padding: 18px 80px;
  border: 1px solid darkgray;
}