.statiscticsClasses {
  width: 500px;
  background-color: white;
  margin: 25px auto 25px;
}

.titleClasses {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.statListClasses {
  display: flex;
  justify-content: space-evenly;
}

.itemClasses {
  color: lightgray;
  padding: 18px 27.5px;
}

.percentageClasses {
  margin-top: 10px;
  font-size: 24px;
}
