.friendList {
  display: flex;
  flex-direction: column;
  margin: 25px auto 25px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.itemClasses {
  display: flex;
  width: 400px;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.statusOnlineClasses {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 35px;
  margin-left: 15px;
}

.statusOfflineClasses {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 35px;
  margin-left: 15px;
}

.avatarClasses {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-right: 20px;
  border: 1px solid darkgray;
}

.nameClasses {
  padding-top: 25px;
  font-size: 40px;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
}